@import "https://fonts.googleapis.com/css?family=Amatic+SC ";
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Six+Caps');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
#home_page{
  background-color:white;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
}
#title_name{
  font-size: 600%;
  font-family: Montserrat;
  font-weight: bold;
  width:100%;
  height:auto;
  left: 50%;
  top:40%;
  position:absolute;
}
#logoPic{
  width: 400px; 
  height: 400px; 
  left:10%;
  top:25%;
  position: absolute;
}
#logoPic2{
  width: 275px;
  height: 275px;
  left:15%;
  top:35%;
  position: absolute;
}
#navigation{
  position: absolute;
  font-size:200%;
  font-family: Amatic SC;
  font-weight:bold;
  left:85%;
  top:0%;
  border:1px;
  border-style:solid;
  text-align:center;
  padding-left:1%;
  padding-right:1%
}
a{
  color: black;
  text-decoration: none;
  font-family: Open Sans Condensed;
  text-transform: uppercase;
}
#phrase{
  left:47%;
  top: 60%;
  font-family: Open Sans Condensed;
  position: absolute;
  font-size:200%
}
